* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(250, 234, 225);
}
 
nav {
  display: flex;
  background-color: lightcoral;
  justify-content: space-between;
  align-items: flex-end;
}

nav a {
  color: lavenderblush;
  text-decoration: none;
}

nav div {
  margin: 18px 30px 3px 30px;
  padding: 2px 5px; 
  align-self: start;
  border: dashed 2px transparent;
  transition: all 0.3s;
  font: 30px Helvetica, sans-serif;
}
nav div:hover {
  border-color: crimson;
}

nav li {
  display: flex;
  background-color: crimson;
  float: right;
  border-bottom: dashed 2px transparent;
  transition: all 0.3s;
  font: 20px 'Assistant', 'Gill Sans', 'Trebuchet MS', serif;
  margin: 3px 4px 2px 4px;
  padding: 8px 15px 0px 15px;
}
nav li:hover {
  background-color: #CF083D;
  border-bottom-color: lavenderblush;
}

h1 {
  margin: 50px 0px 10px 45px;
  color: lightcoral;
  font: 50px fantasy;
}

p {
  margin: 40px 80px;
  font: 29px 'Assistant', 'Gill Sans', 'Trebuchet MS', serif;
  color: #333;
}

button {
  display: block;
  margin: auto;
  margin-top: 50px;
  color: lightcoral;
  font: 29px 'Assistant', 'Gill Sans', 'Trebuchet MS', serif;
  padding: 20px;
}