body {
  background-color: rgb(244, 233, 215);
  margin: 0px;
}
 
header {
  background-color: lightcoral;
  padding: 2px 2px 2px 30px;
}
header ul {
  padding-left: 160px;
}
header li {
  display: inline-flex;
  background-color: crimson;
  float: right;
  margin: 0px 3px 1px 3px;
  padding: 8px 15px 0px 15px;
}
header li a {
  font: 20px 'Assistant', 'Gill Sans', 'Trebuchet MS', serif;
}
header a {
  color: lavenderblush;
  text-decoration: none;
  font: 30px Helvetica, sans-serif;
}

h1 {
  margin: 30px;
  padding-top: 20px;
  padding-left: 15px;
  color: lightcoral;
  font: 50px fantasy;
}

p {
  padding: 5px 80px;
  font: 29px 'Assistant', 'Gill Sans', 'Trebuchet MS', serif;
  color: #333;
}

button {
  display: block;
  margin: auto;
  margin-top: 50px;
  color: lightcoral;
  font: 29px 'Assistant', 'Gill Sans', 'Trebuchet MS', serif;
  padding: 20px;
}