* {
  margin: 0;
  padding: 0;
}

body {
  font: 29px 'Assistant', serif;
  background-color: rgb(250, 234, 225);
}
 
nav {
  display: flex;
  background-color: lightcoral;
  justify-content: space-between;
  align-items: flex-end;
}

nav a {
  color: lavenderblush;
  text-decoration: none;
  padding: 7px 14px 0 15px;
}

nav div {
  margin: 18px 30px 3px 30px;
  padding: 2px 5px; 
  align-self: start;
  transition: all 0.3s;
  font: 30px Helvetica, sans-serif;
}

nav li {
  display: flex;
  background-color: crimson;
  float: right;
  border-bottom: dashed 2px transparent;
  border-radius: 20px 5px 10px 0;
  transition: all 0.3s;
  font-size: 20px;
  margin: 3px 4px 2px 4px;
}
nav li:hover {
  background-color: #cc0a3d;
  border-bottom-color: lavenderblush;
}
nav li:active {
  background-color: rgb(182, 19, 62);
}
.active {
  background-color: #cc0a3d;
}

h1 {
  margin: 50px 0px 10px 45px;
  color: lightcoral;
  font: 50px fantasy;
}

p {
  margin: 40px 80px;
  color: #333;
}

button {
  display: block;
  margin: auto;
  margin-top: 50px;
  color: lightcoral;
  font: 29px 'Assistant', serif;
  padding: 20px;
}